{% extends 'adminApp/adminLayout.html' %} 
{% block content %}

<body>
    <div class="se-pre-con" style="display: none;"></div>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        
        
        <!-- Page Content Holder -->
        <div id="content">
            
    <title>Admin Panel</title>
    <!-- Meta Tags -->
   
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta Tags -->

    <!-- Style-sheets -->
    <!-- Bootstrap Css -->
    <link href="../static/adminApp/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <!-- Bootstrap Css -->
    <!-- Bars Css -->
    <link rel="stylesheet" href="../static/adminApp/css/bar.css">
    <!--// Bars Css -->
    <!-- Calender Css -->
    <link rel="stylesheet" type="text/css" href="../static/adminApp/css/pignose.calender.css">
    <!--// Calender Css -->
    <!-- Common Css -->
    <link href="../static/adminApp/css/style.css" rel="stylesheet" type="text/css" media="all">
    <!--// Common Css -->
    <!-- Nav Css -->
    <link rel="stylesheet" href="../static/adminApp/css/style4.css">
    <!--// Nav Css -->
    <!-- Fontawesome Css -->
    <link href="../static/adminApp/css/fontawesome-all.css" rel="stylesheet">
    <!--// Fontawesome Css -->
    <!--// Style-sheets -->

    <!--web-fonts-->
    <link href="//fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!--//web-fonts-->



    <div class="se-pre-con" style="display: none;"></div>
    <div class="wrapper" >
        <!-- Sidebar Holder -->
        <!-- Page Content Holder -->
        <div id="content">
            <!-- top-bar -->
            <!--// top-bar -->
            <div class="container-fluid">
                <div class="row">
                    <!-- Stats -->
                    <div class="outer-w3-agile col-xl">
                        <a href="{% url 'allstudents' %}">
                        <div class="stat-grid p-3 d-flex align-items-center justify-content-between bg-primary">
                            <div class="s-l">
                                <h5>Students</h5>
                            </div>
                            <div class="s-r">
                                <h6>{{stud_count}}
                                    <i class="far fa-smile">
                                        
                                    </i>
                                </h6>
                            </div>
                        </div></a>
                        <a href="{% url 'allteachers' %}">
                        <div class="stat-grid p-3 mt-3 d-flex align-items-center justify-content-between bg-success">
                            <div class="s-l">
                                <h5>Teachers</h5>
                            </div>
                            <div class="s-r">
                                <h6>{{teach_count}}
                                    <i class="fas fa-users"></i>
                                </h6>
                            </div>
                        </div></a>
                        <div class="stat-grid p-3 mt-3 d-flex align-items-center justify-content-between bg-danger">
                            <div class="s-l">
                                <h5>Works</h5>
                                <p class="paragraph-agileits-w3layouts"></p>
                            </div>
                            <div class="s-r">
                                <h6>{{All_Assig}}
                                    <i class="fas fa-tasks"></i>
                                </h6>
                            </div>
                        </div>
                        <a href="{% url 'mesage' %}">
                        <div class="stat-grid p-3 mt-3 d-flex align-items-center justify-content-between bg-warning">
                            <div class="s-l">
                                <h5>Messages</h5>
                                <p class="paragraph-agileits-w3layouts"></p>
                            </div>
                            <div class="s-r">
                                <h6>{{All_msg}}
                                    <i class="far fa-edit"></i>
                                </h6>
                            </div>
                        </div></a>
                    </div>
                    <!--// Stats -->
                    
                        <div id="piechart" style="width: 900px; height: 500px;"></div>
                    
    <!-- Required common Js -->
    <script src="../static/adminApp/js/jquery-2.2.3.min.js"></script>
    <!-- //Required common Js -->
    
    <!-- loading-gif Js -->
    <script src="../static/adminApp/js/modernizr.js"></script>
    <script>
        //paste this code under head tag or in a seperate js file.
        // Wait for window load
        $(window).load(function () {
            // Animate loader off screen
            $(".se-pre-con").fadeOut("slow");;
        });
    </script>
    <!--// loading-gif Js -->

    <!-- Sidebar-nav Js -->
    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
    <!--// Sidebar-nav Js -->
    <!-- Required common Js -->
    <script src="../static/adminapp/js/jquery-2.2.3.min.js"></script>
    <!-- //Required common Js -->
    
    <!-- loading-gif Js -->
    <script src="../static/adminapp/js/modernizr.js"></script>
    <script>
        //paste this code under head tag or in a seperate js file.
        // Wait for window load
        $(window).load(function () {
            // Animate loader off screen
            $(".se-pre-con").fadeOut("slow");;
        });
    </script>
    <!--// loading-gif Js -->

    <!-- Sidebar-nav Js -->
    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
    <!--// Sidebar-nav Js -->
    <!-- profile-widget-dropdown js-->
    <script src="../static/adminapp/js/script.js"></script>
    <!--// profile-widget-dropdown js-->

    <!-- Count-down -->
    <script src="../static/adminapp/js/simplyCountdown.js"></script>
    <link href="../static/adminapp/css/simplyCountdown.css" rel="stylesheet" type="text/css">
    <script>
        var d = new Date();
        simplyCountdown('simply-countdown-custom', {
            year: d.getFullYear(),
            month: d.getMonth() + 2,
            day: 25
        });
    </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
  
        function drawChart() {
  
          var data = google.visualization.arrayToDataTable([
            ['Task', 'Hours per Day'],
            ['Students',{{stud_count}}],
            ['AllAssignments', {{All_Assig}}],
            ['Messages',  {{All_msg}}],
            ['Teachers', {{teach_count}}],
            ['**',    0]
          ]);
  
          var options = {
            title: ''
          };
          var chart = new google.visualization.PieChart(document.getElementById('piechart'));
          chart.draw(data, options);
        }
      </script>
    <!--// Count-down -->
</div></div></body>
{% endblock %}